<!-- 
<div id="tarjetaSolicitarTurno" class="card border-info mb-3" style="max-width: 35rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Info card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div> -->


<h4 class="d-flex justify-content-between align-items-center mb-3">
</h4>
<div>
  <ul class="list-group mb-3" style="width:80%; height:300px; overflow: scroll;">
    <div>
      <li class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let aux of listaEspecialidades ">
        <button class="btn btn-light" (click)="cargarEspecialistas(aux)">
          <h6 class="my-0">{{aux}}</h6>
        </button>
      </li>
    </div>
  </ul>
</div>

<!-- tabla especialistas -->
<div *ngIf="mostrarEspecialistas">
  <ul class="list-group mb-3" >
    <div >
        <span class="text-muted">Listado Especialistas</span>
        <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let aux of listaEspecialistasPorEspecialidad">
          <button>
          <div>
             <h6 class="my-0">{{aux.nombre}}</h6> <img [src]=aux.imagen height="200">
          </div>
        </button>
      </li>
    </div>
  </ul>
</div>