<div *ngIf="esAdmin">
<app-bienvenido></app-bienvenido>
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Seleccione una opción:</h1>
            </div>
        </div>
    </section>

    <div class="container">
        
        <div class="row">
        <!--   Primer imagen   -->
            <div class="col">
                <div class="card shadow-sm">
                  <button (click)="cambiarOpcion('paciente');"><img src="../assets/imagenes/paciente.jpg" width="100%" height="100%"/></button>
                    <div class="card-body">
                        <p class="card-text">paciente</p>
                        <div class="d-flex justify-content-between align-items-center"></div>
                    </div>
                </div>
            </div>
        <!--   Segunda imagen   -->
            <div class="col">
                <div class="card shadow-sm">
                    <button (click)="cambiarOpcion('especialista');"><img src="../assets/imagenes/especialista.jpg" width="101%" height="101%"/></button>
                    <div class="card-body">
                        <p class="card-text">especialista</p>
                        <div class="d-flex justify-content-between align-items-center"></div>
                    </div>
                </div>
            </div>

        <!--   Tercer imagen   -->
            <div class="col">
                <div class="card shadow-sm">
                    <button (click)="cambiarOpcion('administrador');"><img src="../assets/imagenes/administrador.jpg" width="101%" height="101%"/></button>
                    <div class="card-body">
                        <p class="card-text">administrador</p>
                        <div class="d-flex justify-content-between align-items-center"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
</div>


<main *ngIf="noEstaLogueado">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Seleccione una opción:</h1>
            </div>
        </div>
    </section>

    <div class="container">
        
        <div class="row">
        <!--   Primer imagen   -->
            <div class="col">
                <div class="card shadow-sm">
                  <button (click)="cambiarOpcion('paciente');"><img src="../assets/imagenes/paciente.jpg" width="100%" height="100%"/></button>
                    <div class="card-body">
                        <p class="card-text">paciente</p>
                        <div class="d-flex justify-content-between align-items-center"></div>
                    </div>
                </div>
            </div>
        <!--   Segunda imagen   -->
            <div class="col">
                <div class="card shadow-sm">
                    <button (click)="cambiarOpcion('especialista');"><img src="../assets/imagenes/especialista.jpg" width="101%" height="101%"/></button>
                    <div class="card-body">
                        <p class="card-text">especialista</p>
                        <div class="d-flex justify-content-between align-items-center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>